In [ ]:
Ref: https://www.analyticsvidhya.com/blog/2020/06/learn-visualize-geospatial-data-jupyter-kepler/?fbclid=IwAR05hSG1knyRQbqD_h-Gny_XQlOYGoWSZD4Y7d8rSuPsYegcAFRG6eybjN8

Learn How to Visualize Geospatial Data in Jupyter using kepler.gl

In [1]:
import pandas as pd

DescripciÃ³n de datos: data includes taxi records for 15 January 2015

In [2]:
df=pd.read_csv('data.csv')
print('Shape=>',df.shape)
df.head()

Shape=> (97986, 12)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,fare_amount,tip_amount,total_amount
0,2,2015-01-15 19:05:39 +00:00,2015-01-15 19:23:42 +00:00,1,1.59,-73.993896,40.750111,-73.974785,40.750618,12.0,3.25,17.05
1,2,2015-01-15 19:05:39 +00:00,2015-01-15 19:32:00 +00:00,1,2.38,-73.976425,40.739811,-73.983978,40.757889,16.5,4.38,22.68
2,2,2015-01-15 19:05:40 +00:00,2015-01-15 19:21:00 +00:00,5,2.83,-73.968704,40.754246,-73.955124,40.786858,12.5,0.00,14.30
3,2,2015-01-15 19:05:40 +00:00,2015-01-15 19:28:18 +00:00,5,8.33,-73.863060,40.769581,-73.952713,40.785782,26.0,8.08,41.21
4,2,2015-01-15 19:05:41 +00:00,2015-01-15 19:20:36 +00:00,1,2.37,-73.945541,40.779423,-73.980850,40.786083,11.5,0.00,13.30

Ver las columnas del conjunto de datos

In [3]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'fare_amount', 'tip_amount', 'total_amount'],
      dtype='object')

Ver si existen valores nulos

In [4]:
df.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
pickup_longitude         0
pickup_latitude          0
dropoff_longitude        0
dropoff_latitude         0
fare_amount              0
tip_amount               0
total_amount             0
dtype: int64

## Graficar el mapa base y agregar el conjunto de datos

In [5]:
from keplergl import KeplerGl

In [6]:
map1=KeplerGl(height=500)
map1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(height=500)

Agregar los datos de viajes de taxi

In [7]:
map1.add_data(data=df,name='New York City Taxi Trips')

## Personalizar mapas en kepler.gl